

body {
	background-color: #ebebeb;
    color: white;
}

#main-section {
    width: 100%;
    margin: 0;
    margin-left: 100px;
/*    padding-left: 200px;*/
}

#intro-info {
    top: 0;
/*    height: 800px;*/
    margin-top: 0;
    position: static;
    background-color: rgba(22, 77, 94, 0.1);
    border-radius: 50px;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.second-section {
    background-color: white;
/*    color: black;*/
    color: rgb(84, 173, 160);
    padding: 100px;
}

.feature-section {
    background-color: aliceblue;
    color: rgb(84, 173, 160);
    padding: 100px;
}

#features {
    background-color: rgb(219, 255, 249);
    background-image: url("../img/autour/path1.png");
}

#features2 {
    background-color: rgb(219, 255, 249);
    background-image: url("../img/autour/path2.png");
}

#features3 {
    background-color: rgb(219, 255, 249);
    background-image: url("../img/autour/path3.png");
}

.full-page-bg {
    width: 100%;
    margin: 0;
/*    padding: 100px;*/
    background-image: linear-gradient(rgba(50, 119, 140, 0.6), rgba(165, 160, 59, 0.6)), 
                        url("../img/autour/skybus.jpeg");

    background-size: 1500px;
    background-position: top;
}


/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
	font-family:'Montserrat', Sans-Serif;
    font-weight: 200;
	margin-bottom: 20px;
}
	h1.welcome-special{
		font-size: 90px;
	}

	h2.welcome-special-sub{
/*		font-family: 'Lato', Sans-Serif;*/
		font-size: 30px;
	}

	h3{
        font-size: 24px;
	}

p, li, span, a {
	font-family: 'Lato', Sans-Serif;
	text-align: justify;
	font-weight: 300;
}

p {
		color: #494949;
		line-height: 30px;
		margin-bottom: 25px;
	}

li {
    font-size: 18px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	margin-top: 0;
}

/*
.master-heading{
	padding-top: 50px;	
}
*/

.section-heading{
	padding-top: 50px;	
}

.slide-show{
	padding: 30px 0px 50px 0px;
}


.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	border: 1px solid #FFF;
	font-family:'Montserrat', Sans-Serif;
	font-size: 30px;
	color: #FFF;
	text-transform: uppercase;

    margin: 10px;
    margin-left: 0;
    float: left;
}

.welcome-button:hover{
	background-color: #FFF;
	border-color: #FFF;
    color: mediumaquamarine;
}


nav {
/*    background-color: rgba(168, 244, 255, 0.8);*/
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 20px;
    margin-left: 60%;
    font-size: 20px;
    font-weight: 100;
}

#nav-logo {
    margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link {
/*    color: floralwhite;*/
    color: rgb(84, 173, 160);
    padding-left: 20px;
}

#userflow-section {
    background-color: rgb(219, 255, 249);
    background-image: linear-gradient(rgba(50, 119, 140, 0.1), rgba(165, 160, 59, 0.2));
    color: rgb(84, 173, 160); 
}
