

body{
	background-color: #ebebeb;
	padding-top: 80px;
}

/*Home*/
.full-page-bg {
  position: absolute;
  margin-top: -80px;
  padding-bottom: 100px;
  width:100%;
  min-height: 100vh;
  background: url('../img/common/homepage_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*Cards*/
.card{border: none; background-color: transparent;}

/*Navbar Rules*/
img.nav-bar-img{
	margin-right: 10px;
}

.navbar{
	background-color: #fff;
    box-shadow: 0px 5px 30px rgb(48, 49, 51, 0.4);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
	color: #674f84;
}

a.navbar-brand{
/*	font-family:'Montserrat', Sans-Serif;*/
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
	color: #674f84;
}

.navbar-light .navbar-brand {
    color: #674f84;
}

/*Image Rules*/
img{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 0px solid #000000;
}

/*Font Override Rules*/
h1, h2, h3, h4, h5, h6 {
	font-family:'Montserrat', Sans-Serif;
    font-weight: 200;
	margin-bottom: 20px;
}

h1.welcome-special {
		font-size: 90px;
	}

h2.welcome-special-sub {
		font-family: 'Lato', Sans-Serif;
		font-size: 30px;
	}

h3 {
		text-transform: uppercase;
		color: mediumpurple;
		letter-spacing: -0.5px;
	}

b {
    color: mediumpurple;
}

p, li, span, a {
	font-family: 'Lato', Sans-Serif;
	text-align: justify;
	font-weight: 300;
}

	p{
		color: #494949;
		line-height: 30px;
		margin-bottom: 25px;
	}

span.img-caption{
	display: block;
	font-size: 12px;
	font-weight: 500;
	padding: 10px 0px 10px 0px;
}

/*Container/class etc Override Rules*/
.welcome-message{
	margin-top: 200px;
}

.welcome-button-container{
	margin-top: 20px;
}

.welcome-button{
	background-color: transparent;
	border-radius: 0px 0px 0px 0px;
	border: 3px solid #000;
	font-family:'Montserrat', Sans-Serif;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}

.welcome-button:hover{
	background-color: #000;
	border-color: #000;
}

.master-heading{
	padding-top: 50px;	
}

.section-heading{
	padding-top: 50px;	
}

.slide-show{
	padding: 30px 0px 50px 0px;
}


/*\\\\\\\  PORTFOLIO PAGE /////////*/
#portfolio-heading {
    background-color: black;
    background-image: linear-gradient(rgba(36, 0, 146, 0.1), rgba(16, 0, 66, 0.2)), 
                        url("../img/autour/skybus.jpeg");
    
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 200px;
}

#portfolio-heading h1 {
/*    margin-top: 10px;*/
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 60px;
    margin: 20px;
}

.container {
    padding: 0;
}

#portfolio-content {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
}

#portfolio-content p {
    font-family: 'Montserrat', Sans-Serif;
    font-weight: 100;
    line-height: 40px;
}

#portfolio-content li {
    font-family: 'Montserrat', Sans-Serif;
    font-weight: 100;
    font-size: 24px;
    color: rgb(155, 155, 155);
    list-style: inside;
}

/*\\\\\\\  PROCESS JOURNAL PAGE /////////*/
.introduction {
/*    background: black;*/
}

body {
    background: linear-gradient(#232327, #181819);
/*    background: white;*/
    background: #232327;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
/*    padding: 10px;*/
    box-shadow: 0px 5px 30px rgb(48, 49, 51, 0.4);
}

#main-heading {
    background-color: black;
    background-image: linear-gradient(rgba(36, 0, 146, 0.2), rgba(16, 0, 66, 0.9)), 
                        url("../img/process-journal/journal.jpg");
    
    background-position: left;
    text-align: center;
    height: 200px;
}

#main-heading h1 {
/*    margin-top: 10px;*/
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 100;
    font-size: 60px;
    margin: 20px;
}

    /* >>> Floating Nav*/
.floating-nav {
	position: fixed;
    margin: 60px;
    margin-top: 6px;
	border-left: 1px solid mediumpurple;
}

.top-content-section {
    font-size: 16px;
}

a.float-nav-link{
    font-family: 'Lato', Sans-Serif;
/*    color: #240092;*/
    color: #969ca5;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}

a.float-nav-link:hover {
    color: rebeccapurple;
}

.number-bullet {
    color: mediumpurple;
    margin-right: 4px;
}

#journal-content {
    padding-left: 80px;
}


/*////CAROUSEL STYLING\\\\\*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    /*  outline: black;*/
/*
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
    background-image: none;
*/

    background-size: 100%, 100%;
    border: none;
    background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
    padding-left: 60px;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}


/*\\\\\\\  END PROCESS JOURNAL PAGE /////////*/

/*Footer*/
.footer{
	margin-top: 50px;
	padding-top: 30px;
	width: 100%;
	min-height: 100px;
	background-color: #372a47;
	border-top: 1px solid #727272;
    color: white;
}

.footer p {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
}

#footer-text {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
}